<div class="container">
  <div class="header">
    <app-progressbar [state]="state"></app-progressbar>
  </div>
  <div class="content">
    <app-step-one *ngIf="state && state.currentStepIndex === 0"></app-step-one>
    <app-step-two *ngIf="state && state.currentStepIndex === 1"></app-step-two>
    <app-step-three
      *ngIf="state && state.currentStepIndex === 2"
    ></app-step-three>
    <app-step-four
      *ngIf="state && state.currentStepIndex === 3"
    ></app-step-four>
    <app-step-five
      *ngIf="state && state.currentStepIndex === 4"
    ></app-step-five>
  </div>
  <div class="footer">
    <button (click)="onStepChange('minus')" [disabled]="prevDisabled">
      Previous
    </button>
    <button (click)="onStepChange('plus')" [disabled]="nextDisabled">
      Next
    </button>
  </div>
</div>
